html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.content-box-element {
    box-sizing: content-box;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* line-height: 1.6; */
    background-color: rgb(233, 218, 218);
    position: relative;
}

header {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 1.6%;
    background: #f4f4f4;
    text-align: center;
    letter-spacing: 3px;
    z-index: 2;
    position: fixed;
    grid-template-areas:
    /* 'title'
    'title'; */

    'boss es title pr nk'
    'ea km title sn rm'

    /* 'ea .	.	title . . pr pr  '
    '. km	km	 title . .  nk nk '
    'es	.	. 	title . . sn sn   '
    ' . . . 	title . .  rm rm '; */

}
/* 
header::before {
    content: '';
    position: absolute;
    top: 0%;
    right: 0px;
    bottom: 0px;
    left: 0%;
    opacity: 0.3;
} */

a {
    color: rgb(126, 123, 123);
    /* border: magenta solid 2px; */
    text-decoration: none;   
    letter-spacing: 2px;
    word-spacing: 15vw;
    font-weight: bold;
    font-size: 1vw;
    margin: 0%;
    padding: 0%;
    /* border: darkslateblue solid 3px; */
}

#bossLink {
    grid-area: boss;
}
#eaLink {
    grid-area: ea;
}
#kmLink {
    grid-area: km;
}
#esLink {
    grid-area: es;
}
#prLink {
    grid-area: pr;
}
#snLink {
    grid-area: sn;
}
#nkLink {
    grid-area: nk;
}
#rmLink {
    grid-area: rm;
}
.title {
    grid-area: title;
}

.title {
    font-size: 1vw;
    box-shadow: 0px 0px 25px 4px rgba(0,0,150,.3);
    border-radius: 34%;
    padding: 3%;
    margin: 1%;
    color: darkcyan;
    color: darkslateblue;
    position: relative;
}

.nav {
    z-index: 1;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    width: 100%;
    letter-spacing: 0.2em;
    word-spacing: 0.4em;
    background-color: bisque;
    opacity: 0.8;
}

.main {
    position: absolute;
    top: 20vh;
    padding-left: 1%;
    /* padding-bottom: 15%; */
}

.deputees {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: greenyellow 2px solid; */
    top: 5vh;
    /* position: absolute; */
    top: 40vh;
}   

.image {
    float: left;
    position: relative;
    /* width: 29%; or percentage; or inside of flex-box or grid  */
    width: 14vw;
    height: 14vw;
    padding: 1vw;
    margin: 1vw;
}

.image__img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.boss, .eaDeputees, .kmDeputees, .esDeputees, .prDeputees, .snDeputees, .nkDeputees, .rmDeputees{
    margin-top: 30vh;
    margin-bottom: 35vh;
}

.ea1 {
    margin-bottom: 0;
}

.ea2 {
    margin-top: 0;
}

.eaDeputees {
    /* margin-top: 20vh; */
    position: relative;
    align-items: center;
}

.eaDeputees::before, .kmDeputees::before, .esDeputees::before, .prDeputees::before, .snDeputees::before, .nkDeputees::before, .rmDeputees::before {
    content: '';
    position: absolute;
    top: 0%;
    right: 0px;
    bottom: 0px;
    left: 0%;
    opacity: 0.3;
}

.eaDeputees::before {
    background-image: url(/6_7_projects/6_City_council/images/ea/ea_party_100_100.jpg);
}

.kmDeputees {
    position: relative;
}

.kmDeputees::before {
    background-image: url(/6_7_projects/6_City_council/images/km/km_party_100_56.jpg);
}

.esDeputees {
    position: relative;
}

.esDeputees::before {
    background-image: url(/6_7_projects/6_City_council/images/es/es_party_150_49.jpg);
}

.prDeputees {
    position: relative;
}

.prDeputees::before {
    background-image: url(/6_7_projects/6_City_council/images/pr/pr_party_100_65.jpg);
}

.snDeputees {
    position: relative;
}

.snDeputees::before {
    background-image: url(/6_7_projects/6_City_council/images/sn/sn_party_50_50.jpg);
}

.nkDeputees {
    position: relative;
}

.nkDeputees::before {
    background-image: url(/6_7_projects/6_City_council/images/nk/nk_party_50_47.jpg);
}

.rmDeputees {
    position: relative;
}

.rmDeputees::before {
    background-image: url(/6_7_projects/6_City_council/images/rm/rm_party_100_30.jpg);
}

.eaDeputees .image__img {
    box-shadow: 0 0 11px 4px rgba(255, 96, 0, 1);
}
.kmDeputees .image__img {
    box-shadow: 0 0 11px 4px rgba(58, 179, 75, 1);
}
.esDeputees .image__img {
    box-shadow: 0 0 11px 4px rgba(65, 98, 171, 1);
}
.prDeputees .image__img {
    box-shadow: 0 0 11px 4px rgba(179, 34, 77, 1);
}
.snDeputees .image__img {
    box-shadow: 0 0 11px 4px rgba(51, 174, 68, 1);
}
.nkDeputees .image__img {
    box-shadow: 0 0 11px 4px rgba(249, 23, 24, 1);
}
.rmDeputees .image__img {
    box-shadow: 0 0 11px 4px rgba(18, 138, 139, 1);
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 50%;
}
.title .image__overlay {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1.6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    /* border-radius: 50%; */
}

.title .image__overlay > * {
    transform: translateY(0px);
    transition: transform 0.5s 0.1s;
    background: rgba(0, 0, 0, 0.6);
}

.title .image__overlay:hover > * {
    transform: translateY(93px);

}

.title p {
    margin-bottom: 2px;
    padding: 2px;
}
/* targeting every direct child (title and description) */
.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.5s 0.1s;
}

.image__overlay:hover {
    opacity: 1;
    transform: scale(1.2);
}

.image__overlay:hover > * {
    transform: translateY(0);
}

#Abramiuk {
    object-position: 0px -2.2vh;
}

#Prokop {
    object-position: left;
}


#Bilous {
    object-position: right;
}

#Mykhailishyn {
    object-position: top left;
}


.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 2%;
}   

.nav-links li {
    text-align: center;
    transition: opacity 0.5s;
    opacity: 0.5;
    /* border: turquoise solid 2px; */
}




a > * {
    transform: translateY(20px);
    transition: transform 0.5s 0.1s;
}

a:hover {
    opacity: 1;
    /* background-color: ivory; */
    border-radius: 20%;
    transform: scale(1.6);
}



.image__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9vw;
    font-weight: bold;
    text-align: center;
}


.image__description {
    font-size: 1vw;
    margin-top: 0.25em;
    text-align: center;
}

/* .chart {
    margin: 0;
    width:850px;
    height: 540px;
    padding: 0;
    fill-opacity: 0.01;
    }

g {
    fill-opacity: 0.8;
}     */



/* 
#eaDep1 {
    background-image: url('../images/ea/gutsol.jpg');
    background-position: top;
    text-align: right;
}

#eaDep1 h1 {
    padding-top: 80%;
    color: white;
}

#snDep1 {
    background-image: url('../images/sn/druhanovskii.jpg');
    background-position: center;
    text-align: right;
}

#snDep1 h1 {
    padding-top: 80%;
    color: white;
}    */
