html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.content-box-element {
    box-sizing: content-box;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: rgb(233, 218, 218);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    background: #f4f4f4;
    text-align: center;
    height: 11vh;
    letter-spacing: 3px;
    font-size: 1.5vw;

  }

/* nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Poppins', sans-serif;
    border: 2px red solid;
}   */

ul {
    padding: 0;
    list-style: none;
    margin: 5px;
    align-items: center;
}

g {
    fill-opacity: 0.8;
}

g:hover {
    fill-opacity: 1.0;
}

.header {
    box-shadow: 0px 0px 25px 4px rgba(0,0,150,.3);
    border-radius: 34%;
    padding: 14px;
    margin 5%;
}

.navParties {
    cursor: pointer;
    box-shadow: 0px 0px 6px 4px;
    border-radius: 9% 78% 9% 18%;
    padding: 16% 29% 13% 7%;
}

.navParties:hover {
    transform: scale(0.7, 0.9);
    opacity: 0.5;
    background-color: lightsalmon;
    transition: ease 2s;
    transform: rotate(30deg); /* doesn't work */
}

.title {
    font-size: 3vw;
}

.navFilters {
    cursor: pointer;
    box-shadow: 0px 0px 6px 4px;
    border-radius: 78% 9% 18% 9%;
    padding: 17% 2% 10% 10%;

}

.navFilters:hover {
    transform: scale(0.7, 0.9);
    opacity: 0.5;
    background-color: lightsalmon;
    transition: ease 2s;
    transform: rotate(30deg); /* doesn't work */
}

.container {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    /* width: 100vw; */
    /* height: 100vh; */
    margin: auto;
    overflow: hidden; 
    border: 5px cyan solid;
}  

.container1 {
    border: 5px magenta solid;
}

/* .sidebar {
    width: 38%; 
    height: 467px;
    background: #333;
    color: #fff;
    padding: 10px;
    border: 5px green solid;
    display: fixed;
} */

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    z-index: 10;
    left: 0px;
    height: 85vh;
    /* top: 8vh; */
    background-color: rgba(24, 41, 41, 0.8);
    transform: translateX(-105%);
    transition: transform 0.5s ease-in;
    padding: 10px;

}   

.nav-links li {
    list-style: none;
    border: 1px darkmagenta solid;
    box-shadow: 0 0 10px 5px;
    padding: 7px;
    border-radius: 48% 9% 48% 9%;
    opacity: 0;
}

.nav-links li:hover {
    transform: scaleX(3);
    opacity: 0.5;
    background-color: darkolivegreen;
    transition: ease 1s;
}

.nav-links a {
    color: rgb(238, 234, 234);
    text-decoration: none;   
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    margin-right: 0px;
}

.nav-active {
    transform: translateX(0%);
}


/* it looks like I didn't use it at all
 .nav-transition {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px blue solid;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
} */

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
    /* flex-direction: column;
    justify-content: left; */
    /* width: 64vw; */
    height: 86.8vh;
    /* width: 100vw; */
    /* height: 100vh; */
    /* margin: auto; */
    /* overflow: hidden;  */
}

.chartnone {
    display: none;
}

.chart {
    margin: 0;
    /* width:850px; */
    /* height: 540px; */
    /* width: 100px; */
    /* height: 100px; */
    /* width: max-content; */
    /* height: max-content; */
    width: 100%;
    height: 100%;
    padding: 0;
    fill-opacity: 0.1;
    border: 3px brown solid;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.chart:hover {
    opacity: 1.0;
}

.nopiechart {
    display: none;
}

.deputees {
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */

}

.deputees1 {
    display: flex;
}

.eaDeputees {
    /* display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around; */
    /* position: absolute; */
    z-index: 1;
    /* left: 0px; */
    height: 85vh;
    /* overflow: auto; */
    /* transform: translateX(-105%);
    transition: transform 0.5s ease-in; */
}

.eaDeputees-active {
    /* display: none; */
    background: mediumblue;
    transform: translateX(40%);
}


.snDeputees {
    overflow: auto;
    margin-top: 10px;
    background: green;
    border: orangered;
}


.image {
    float: left;
    position: relative;
    width: 33%; /*or percentage; or inside of flex-box or grid */ 
    padding: 5px;
    margin: 0px;
}

.image__img {
    display: block;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 11px 4px rgba(255, 96, 0, 0.4);

}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 50%;
}

/* targeting every direct child (title and description) */
.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.5s 0.1s;
}

.image__overlay:hover {
    opacity: 1;
    transform: scale(1.1);
    transform: rotate(30deg);
    transform: rotate(0deg);
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
}

.image__title_0 {
    display: none;
}

.image__description {
    font-size: 2vw;
    margin-top: 0.25em;
    text-align: center;
}

#chartLink {
    color: burlywood;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 0px;
    }

#chartItem {
    border: 1px lightgreen solid;
    box-shadow: 0 0 10px 5px;
    padding: 5px;
    border-radius: 10%;
}

#piechart_3d {
    /* width: 100%; */
    height: 100%;
}

#eaDep1 {
    background-image: url('../images/ea/gutsol.jpg');
    background-position: top;
    text-align: right;
}

#eaDep1 h1 {
    padding-top: 80%;
    color: white;
}

#snDep1 {
    background-image: url('../images/sn/druhanovskii.jpg');
    background-position: center;
    text-align: right;
}

#snDep1 h1 {
    padding-top: 80%;
    color: white;
}   
