* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: rgb(233, 218, 218);
}

header {
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
  }

/* .container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
  }   */

.container {
    width: 100%;
    margin: auto;
    overflow: hidden; 
}  

.block {
    float: left;
    padding: 15px;
    width: 33.3%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#navbar-left {
}

#navbar-left ul {
    padding: 0;
    list-style: none;
    margin: 5px;
    align-items: center;
}

#navbar-left li {
    display: flex;
    text-align: center;    
}

#navbar-left a {
    text-decoration: none;
}

.button {
    margin: 6px;
    padding: 8px;
    border-radius: 23%;
    background: blue;
    color: white;
    font-size: 18px;
} 

.chart {
    margin: 0;
    width:850px;
    height: 540px;
    padding: 0;
    fill-opacity: 0.1;
    }

.chart:hover {
    opacity: 1.0;
}

g {
    fill-opacity: 0.8;
}

g:hover {
    fill-opacity: 1.0;
}

.dep {
    background-image: url('../images/good_deeds.jpg');
    position: relative;
    min-height: 260px;   
    float: left;
    padding: 15px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    margin: 10px;
    background-repeat: no-repeat;

    background-position: center;

    display: block;

    object-fit: cover;
    object-position: center;
}

#main {
    float: right;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar {
    position: fixed;
    float: left;
    width: 30%;
    /* background: #333; */
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

#eaDep1 {
    background-image: url('../images/ea/gutsol.jpg');
    background-position: top;
    text-align: right;
}

#eaDep1 h1 {
    padding-top: 80%;
    color: white;
}

#snDep1 {
    background-image: url('../images/sn/druhanovskii.jpg');
    background-position: center;
    text-align: right;
}

#snDep1 h1 {
    padding-top: 80%;
    color: white;
}   








.image {
    float: left;
    position: relative;
    width: 33%; /*or percentage; or inside of flex-box or grid */ 
    padding: 5px;
    margin: 0px;
}

.image__img {
    display: block;
    width: 100%;
    border-radius: 50%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 50%;
}

/* targeting every direct child (title and description) */
.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.5s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 1.4em;
    font-weight: bold;
}

.image__description {
    font-size: 1em;
    margin-top: 0.25em;
}

/* .deputees {
    display: table;
} */

.eaDeputees {
    display: inline-block;
    overflow: auto;
    background: #ff6000;    
}

.snDeputees {
    overflow: auto;
    margin-top: 10px;
    background: green;
    border: orangered;
}